<form action="/result" method="POST" class="center">
	<label for="first_color">First color:</label>
	<select name="first_color">
		<option value="brown" selected>Brown</option>
		<option value="red">Red</option>
		<option value="yellow">Yellow</option>
		<option value="blue">Blue</option>
		<option value="green">Green</option>
		<option value="purple">Purple</option>
	</select>

	<label for="second_color">Second color:</label>
	<select name="second_color">
		<option value="brown" selected>Brown</option>
		<option value="red">Red</option>
		<option value="yellow">Yellow</option>
		<option value="blue">Blue</option>
		<option value="green">Green</option>
		<option value="purple">Purple</option>
	</select>

	<label for="third_color">Third color:</label>
	<select name="third_color">
		<option value="brown" selected>Brown</option>
		<option value="red">Red</option>
		<option value="yellow">Yellow</option>
		<option value="blue">Blue</option>
		<option value="green">Green</option>
		<option value="purple">Purple</option>
	</select>

	<label for="fourth_color">Fourth color:</label>
	<select name="fourth_color">
		<option value="brown" selected>Brown</option>
		<option value="red">Red</option>
		<option value="yellow">Yellow</option>
		<option value="blue">Blue</option>
		<option value="green">Green</option>
		<option value="purple">Purple</option>
	</select>

	<input type="submit" name="submit" value="OK" />
	<input type="submit" name="submit" value="Reset" />
</form>
